<!doctype html>
<html>
    <head>
        <title>Relocate</title>
        <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
        <script src="http://maps.googleapis.com/maps/api/js"></script>
    
    </head>
    <body>



        {% if "user_id" in session %}
            <a href="/logout">Logout</a>
        {% else %}
            <a href="/login">Login</a> &nbsp; &nbsp;
            <a href="/register">Register</a>
        {% endif %}

         



        {% for flash in get_flashed_messages() %}
            <div class="alert alert-messages" style="width:90%; margin:0 auto;">{{ flash }}</div>
        {% endfor %}

        {% block content%}

            body goes here    
        {% endblock %}   
       
    </body>
</html>