<!doctype html>
<html>
    <head>
        <title>Relocate</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
        <script src="http://maps.googleapis.com/maps/api/js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    </head>
    <body>



        {% if "user_id" in session %}
            <a href="/logout">Logout</a>
            <div>
                <button id="favorite" class="btn btn-primary" type="submit"> <span class="glyphicon glyphicon-star-empty"></span>Favorite</button>
            </div>

   
        {% else %}
            <a href="/login">Login</a> &nbsp; &nbsp;
            <a href="/register">Register</a>
        {% endif %}

         

        {% for flash in get_flashed_messages() %}
            <div class="alert alert-messages" style="width:90%; margin:0 auto;">{{ flash }}</div>
        {% endfor %}

        {% block content%}

            body goes here    
        {% endblock %}   
       
    </body>
</html>