{% extends 'base.html' %}
{% block content %}
<style type="text/css">
html{
         
     background:url("/static/images/bg.jpg");

     
     min-height:100%;

     
     background-size:cover;
    }
    h1{

        color: black;
        font-weight: bold;
        font-size: 70px;
         height: 300px;
        
    }
</style>


<div class="row" id="box-search">
    <div class="thumbnail text-center">
        <img src="/static/images/bg.jpg" alt="" class="img-responsive">
        <div class="caption">
            <div>
            <h1>Help Me Relocate</h1>
            </div>
        </div>
    </div>
</div>

{% endblock %}