{% extends 'base.html' %}
{% block content %}

<!-- Each School details go here. -->
{% for schoolObject in schoolObjects %}

    gsid: {{ schoolObject.gsid }} <br>
    Score: <b>{{ schoolObject.score }} <br>
    Name: {{ schoolObject.name }} <br>
    Type: {{ schoolObject.school_type }} <br>
    Latitude: {{ schoolObject.latitude }} <br>
    Longitude: {{ schoolObject.longitude }} <br>
    Grade Range: {{ schoolObject.grade_range }} <br>
    Parent Rating: {{ schoolObject.parent_rating }} <br>
    City: {{ schoolObject.city }} <br>
    State: {{ schoolObject.state }} <br>
    Address: {{ schoolObject.address }} <br>
    Phone: {{ schoolObject.phone }} <br>
    Website: <a href="{{ schoolObject.website }}">{{ schoolObject.website }}</a> <br><br>
    
    More about School Overview:<br>

    <a href="{{ schoolObject.overview_link }}"> {{ schoolObject.overview_link }} </a> 
    <br><br>
    
    More about School Rating: <br>

    <a href="{{ schoolObject.ratings_link }}">
    {{ schoolObject.ratings_link }}</a> 
    <br><br>

    Go to School Reviews:
    <a href="{{ schoolObject.reviews_link }}"> {{ schoolObject.reviews_link }} </a>
    <br><br><br><br>


{% endfor %}

{% endblock %}