{% extends 'base.html' %}


<head>
  <title>School</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

{% block content %}

<script type="text/javascript">
$("#school").attr("class", "active")
$("#home").attr("class", "inactive")

</script>


<div id="googleMap" style="width:1200px;height:400px;"></div>
<script>    
    var zipcode = {{ zipcode }};
    $.get("/school_map_data?zipcode="+zipcode, initialize)
    function initialize(data) {
       
       
        var schools = data['schools'];
        console.log(schools)
        var first_school = schools[0];
        console.log(first_school);

        var map_center = new google.maps.LatLng(parseFloat(first_school.latitude), parseFloat(first_school.longitude));

        var mapProp = {
                        center: map_center,
                        zoom: 15,
                        mapTypeId: google.maps.MapTypeId.ROADMAP,
                        clickableIcons: true
                      };

        var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);

        var school, marker;

       
        
        // var infowindow = new.google.maps.InfoWindow();

         var infowindow = new google.maps.InfoWindow({
            content: "",
            maxWidth: 500,
            maxHeight: 200
           });
        var bounds = new google.maps.LatLngBounds();
        for(var key in schools){
           // debugger;
            school = schools[key];
            
            position = new google.maps.LatLng(parseFloat(school.latitude), parseFloat(school.longitude));
            bounds.extend(position);

            marker = new google.maps.Marker({
            position: position,            
            map: map,
            animation: google.maps.Animation.DROP,
            title: "<b>"+school.name+"<br>"+school.address+"<br>"+"Score: "+school.score+"</b>"
            });
            // console.log(marker);

            map.fitBounds(bounds);
    

            google.maps.event.addListener(marker, 'click', (function(marker,infowindow){
              return function() {
              infowindow.close(); // Close previously openpened infowindow
              infowindow.setContent(marker.title);     
              infowindow.open(map, marker);
              };
            })(marker, infowindow));

      } 
  }
    
    // google.maps.event.addDomListener(window, 'load', initialize);


</script>


<!-- chart for school -->






<!-- ======================================================================================<-->


<div class="container">
  <h2>Schools in this neighborhood</h2>
   <table class="table table-condensed pagination"> 
  
        <thead>
          <tr>
            <th>Score</th>
            <th>Name</th>
            <th>Type</th>
            <th>Grade range</th>
            <th>Parent rating</th>        
            <th>Address</th>
            <th>Phone</th>
            <th>Website</th>
          </tr>
        </thead>
        {% for schoolObject in schoolObjects %}
            <tbody>
              {% if schoolObject.school_type == "public" %}
              <tr class="success" >
                <td>{{ schoolObject.score }}</td>
                <td>{{ schoolObject.name }}</td>
                <td>{{ schoolObject.school_type }}</td>
                <td>{{ schoolObject.grade_range }}</td>
                <td>{{ schoolObject.parent_rating }}</td>
                <td>{{ schoolObject.address }}</td>
                <td>{{ schoolObject.phone }}</td>
                <td><a href="{{ schoolObject.website }}">{{ schoolObject.website }}</td>

              </tr>
              {% elif schoolObject.school_type == "private" %}
               <tr class="info" >
                <td>{{ schoolObject.score }}</td>
                <td>{{ schoolObject.name }}</td>
                <td>{{ schoolObject.school_type }}</td>
                <td>{{ schoolObject.grade_range }}</td>
                <td>{{ schoolObject.parent_rating }}</td>
                <td>{{ schoolObject.address }}</td>
                <td>{{ schoolObject.phone }}</td>
                <td><a href="{{ schoolObject.website }}">{{ schoolObject.website }}</td>

              </tr>
              {% endif %}
            
            </tbody>
        {% endfor %}
      </table>

      
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="/">Help Me Relocate</a>
            </div>
            <ul class="nav navbar-nav">
                <li id="home" class="active"><a href="/search">Search</a></li>
                <li id="overview"><a href="/show_city?zipcode={{ zipcode }}">Overview</a></li>
                <li id="school"><a href="/show_school?zipcode={{ zipcode }}">Schools</a></li>  
                <li id="cost"><a href="/cost_of_living?zipcode={{ zipcode }}">Cost of Living</a></li>
                <li id="crime"><a href="/crime_rate?zipcode={{ zipcode }}">Safety</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
             
             
            {% if "user_id" in session %}
                <li><a href="/logout">Logout</a></li>
                <li><a href="/show_favorites">Show Favorites</a></li>
                <li><button id="favorite" class="btn btn-primary" type="submit"> <span id="favorite_star" class="glyphicon glyphicon-star-empty"></span>Favorite</button></li>
                
            {% else %}
                <li><a href="/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        
           {% endif %}
            </ul>
    </div>
</nav>



      
     

{% endblock %}