{% extends 'base.html' %}

{% block content %}

<script type="text/javascript">
$("#overview").attr("class", "active")
$("#home").attr("class", "inactive")
</script>

<style type="text/css">

      .btn-lg {
          padding: 10px 10px;
      }
      .carousel-inner > .item > img{
        width:640px;
        height:360px;
         margin: 0 auto;
      }
      
</style>
    



<div class="container">
    <h2 align="center">{{ city }}, {{ state }} </h2>
    <div class="row">
      <div class="col-md-12">

            <div class="container">
      
                  <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">

                        <div class="item active">
                          <img src="{{ images[0] }}" alt="image" width:auto height:auto >
                        </div>
                        {% for image in images[1:]%}
                            <div class="item">
                              <img src="{{ image }}" alt="image" width:auto height:auto>
                            </div>
                        {%endfor%}
                    </div>

                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>

                    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
            </div>
        
      </div>
    </div>

    <div class="row">
          <div class="col-md-6" style="padding-right:20px; border-right: 1px solid #ccc;">
              <h3>Summary</h3> <br>
              <blockquote>{{ summary }}</blockquote>
          </div>

          <div class="col-md-6">
               {% if climate is not none %}
                <h3>Climate</h3> <br>
                <blockquote>{{ climate }}</blockquote>
               {% endif %}
          </div>
    </div>
</div>




   
    
    <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="/">Help Me Relocate</a>
            </div>
            <ul class="nav navbar-nav">
                <li id="home" class="active"><a href="/search">Search</a></li>
                <li id="overview"><a href="/show_city?zipcode={{ zipcode }}">Overview</a></li>
                <li id="school"><a href="/show_school?zipcode={{ zipcode }}">Schools</a></li>  
                <li id="cost"><a href="/cost_of_living?zipcode={{ zipcode }}">Cost of Living</a></li>
                <li id="crime"><a href="/crime_rate?zipcode={{ zipcode }}">Safety</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
             
             
            {% if "user_id" in session %}
                <li><a href="/logout">Logout</a></li>
                <li><a href="/show_favorites">Show Favorites</a></li>
                <li><a id="favorite"><span id="favorite_star" class="glyphicon glyphicon-star-empty"></span></a></li>
                <!-- <li><button id="favorite" class="btn btn-default" type="submit"> <span id="favorite_star" class="glyphicon glyphicon-star-empty"></span></button></li> -->
                
            {% else %}
                <li><a href="/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        
           {% endif %}
            </ul>
    </div>
</nav>









      
    <script type="text/javascript">
         $(function () { // this is the jquery shortcut for document.ready()
                function addToFavorites(evt) {
                    var id = this.id; // this is the id on the button we clicked, which is the image's id
                    $.post("/add-to-favorites", {'id': id, 'zipcode': {{ zipcode }}}, addToFavoritesSuccess);
                }

                function addToFavoritesSuccess(result) {
                    
                    console.log(result.status);
                    var id = result.id;
                    if (result.status === "added")
                    {
                    $("#favorite_star").toggleClass('glyphicon-star-empty');   
                    $("#favorite_star").toggleClass('glyphicon-star');
                    }
                    else{
                    $("#favorite_star").toggleClass('glyphicon-star');
                    $("#favorite_star").toggleClass('glyphicon-star-empty');
                    
                   
                    }
                   
                }

                $('#favorite').click(addToFavorites);
            });
      </script>




{% endblock %}
